#quiz{
width: 100px;
margin: 10px auto;
text-decoration: underline;
font-size:38px;
font-weight: 600;
}
#container{
    width: 60vw;
    border: 1px solid red;
    margin: 20px auto;
    padding: 20px;
    box-shadow: inset 2px 1px 5px 1px rgb(198, 99, 28);

}
label{
    font-size: large;
    font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
   margin: 30px;
   padding: 10px;
}
#btnContainer{
    width: 30px;
    padding: 10px;
    margin: 10px auto;
}
button{
    font-size: large;
    font-weight: 600;
    padding: 10px;
    color: rgb(41, 20, 3);
    box-shadow: inset 2px 3px 5px 4px rgb(230, 20, 72);
    cursor: pointer;
}
button:active{
    background-color: rgb(246, 238, 238);
    font-weight: 800;
    outline: 3px solid rgb(162, 72, 7);
    border-radius: 10%;
}
#scoreBox{
 width: 50vw;
 margin: 10px 30px;
 padding: 20px;
 box-shadow: inset 2px 1px 5px 1px rgb(198, 99, 28);
 overflow: hidden;
}
p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(107, 7, 7);
}
